<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="msgPrefix" value="${longdate}|${callsite}|${threadid}|${threadname}|${level:uppercase=true}"/>

  <targets>
    <target name="infoconsole" xsi:type="ColoredConsole"
      layout="${message}"/>

    <target name="console" xsi:type="ColoredConsole"
				layout="${msgPrefix}|${message}|${exception:separator=|:format=Type,Message,Method}"/>

    <target name="trace" xsi:type="File" fileName="${basedir}/log/${shortdate}_messages.log"
				layout="${msgPrefix}|${message}"/>

    <target name="error" xsi:type="File" fileName="${basedir}/log/${shortdate}_errors.log "
				layout="${msgPrefix}|${callsite}|${message}|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
  </targets>

  <rules>
    <logger name="*" levels="Error,Fatal" writeTo="error"/>
    <logger name="*" levels="Info,Error,Fatal,Debug,Warn,Trace" writeTo="console"/>
    <logger name="*" levels="Info,Error,Fatal,Warn" writeTo="trace"/>

  </rules>
</nlog>