HelpdeskSystem/.vs/
HelpdeskSystem/HelpdeskSystem/obj/
HelpdeskSystem/HelpdeskSystem/bin/
*/obj/
HelpdeskSystem/Helpdesk.Data/obj/
HelpdeskSystem/Helpdesk.DataLayer/bin/
HelpdeskSystem/Helpdesk.Services/obj/
HelpdeskSystem/Helpdesk.Common/bin/
HelpdeskSystem/Helpdesk.Common/obj/
HelpdeskSystem/Helpdesk.Data/bin/
HelpdeskSystem/Helpdesk.Services/bin/
HelpdeskSystem/Helpdesk.DataLayer/obj/
HelpdeskSystem/Helpdesk.Services.Test/obj/
HelpdeskSystem/Helpdesk.Services.Test/bin/
appsettings.json
.idea