<h2>passwordreset test</h2>

<div class="modal fade" id="modal-set-password" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="passwordService.setPassword(resetForm)" #resetForm="ngForm">
        <div class="modal-body">

          <div class="alert alert-primary" role="alert">
            New password must be 6 or more characters
          </div>

          <div class="form-group">
            <label for="password-new">New Password</label>
            <input type="password" class="form-control" id="password-new" name="password-new" required
              [ngClass]="{'is-invalid': !(passwordNew.valid || passwordNew.pristine)}"
              [(ngModel)]="passwordService.passwordNew" #passwordNew="ngModel">
            <div class="invalid-feedback" [hidden]="passwordNew.valid || passwordNew.pristine">Please enter a password</div>
          </div>

          <div class="form-group">
            <label for="password-confirm">Confirm Password</label>
            <input type="password" class="form-control" id="password-confirm" name="password-confirm" required
              [ngClass]="{'is-invalid': passwordService.pwErrMsg !== ''}" (ngModelChange)="passwordService.resetErrMsg()"
              [(ngModel)]="passwordService.passwordConfirm" #passwordConfirm="ngModel">
            <div class="invalid-feedback" [hidden]="passwordService.pwErrMsg === ''">{{ passwordService.pwErrMsg }}</div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--&lt;!&ndash; Edit User Modal &ndash;&gt;-->
<!--<div class="modal fade" id="modal-set-password" tabindex="-1" role="dialog">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword(setPasswordForm.value)">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="setpasswordModalLabel">Set Password</h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <input type="hidden" class="form-control" formControlName="modalUsername" id="modalUsername"-->
<!--                 name="modalUsername">-->
<!--          <input type="hidden" class="form-control" formControlName="modalUserId" id="modalUserId"-->
<!--                 name="modalUserId">-->
<!--          <div class="form-group">-->
<!--            <label for="modalPassword">Password</label>-->
<!--            <input type="password" class="form-control" formControlName="modalPassword"-->
<!--                   id="modalPassword" name="modalPassword">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="confirmPassword">Confirm Password</label>-->
<!--            <input type="password" class="form-control" id="confirmPassword"-->
<!--                   formControlName="confirmPassword" name="confirmPassword">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--          <button type="submit" class="btn btn-primary">Save</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
