<div class="container">
    <h1>{{helpdesk.name}}</h1>
    <div class="row">
        <div class="col-md-12">
            <button *ngIf="helpdesk.hasCheckIn" class="btn btn-primary checkin-button" data-toggle="modal"
                data-target="#modal-check-in"
                [ngClass]="{'check-in-button-large': !helpdesk.hasQueue, 'button-small': helpdesk.hasQueue}">
                Check In<br />
                <span
                    [ngClass]="{'check-in-count-small': helpdesk.hasQueue, 'check-in-count-large': !helpdesk.hasQueue}">Checked
                    In: {{checkIns.length}}</span>
            </button>
            <button *ngIf="helpdesk.hasQueue" class="btn button-small" data-toggle="modal"
                data-target="#modal-join-queue"
                [ngClass]="{'btn-dark': helpdesk.hasCheckIn, 'btn-primary': !helpdesk.hasCheckIn}">
                Join Queue
            </button>
            <button *ngIf="helpdesk.hasCheckIn" class="btn btn-secondary checkout-button" data-toggle="modal"
                data-target="#modal-check-out"
                [ngClass]="{'check-in-button-large': !helpdesk.hasQueue, 'button-small': helpdesk.hasQueue}">
                Checkout
            </button>
        </div>
    </div>
    <div *ngIf="helpdesk.hasQueue" class="row">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nickname</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Topic</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of queue">
                        <td>{{item.nickname}}</td>
                        <td>{{item.unit}}</td>
                        <td>{{item.topic}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <button class="btn btn-danger float-right ml-1" data-toggle="modal"
                                (click)="remove(item.itemId)">Remove</button>
                            <button *ngIf="!item.timeHelped" class="btn btn-secondary float-right ml-1"
                                data-toggle="modal" data-target="#modal-edit-queue"
                                (click)="setupEdit(item.itemId)">Edit</button>
                            <button *ngIf="!item.timeHelped" class="btn btn-dark float-right" data-toggle="modal"
                                (click)="collect(item.itemId)">Assist</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="modal-join-queue" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form [formGroup]="joinForm" (ngSubmit)="joinQueue(joinForm.value)">
                        <div class="modal-header">
                            <h5 class="modal-title" id="joinModalLabel">Join Queue</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" *ngIf="helpdesk.hasCheckIn">
                                <label for="modalJoinCheckId">Nickname:</label>
                                <select class="form-control" id="modalJoinCheckId" name="modalJoinCheckId"
                                    formControlName="modalJoinCheckId" (change)="populateTopics($event.target.value)">
                                    <option value="">Select your nickname</option>
                                    <option *ngFor="let checkIn of checkIns" value="{{checkIn.checkInId}}">
                                        {{checkIn.nickname}}
                                    </option>
                                </select>
                            </div>
                            <input type="hidden" *ngIf="!helpdesk.hasCheckIn" class="form-control"
                                formControlName="modalJoinStudentId" id="modalJoinStudentId" name="modalJoinStudentId">
                            <div  *ngIf="!helpdesk.hasCheckIn">
                                <div class="alert alert-info">Try scanning your card for your Student ID.</div>
                                <div class="form-group">
                                    <label for="modalJoinSID">Student ID</label>
                                    <input type="text" class="form-control" formControlName="modalJoinSID"
                                        id="modalJoinSID" name="modalJoinSID" placeholder="Enter your student id."
                                        (blur)="validateQueueNickname()" required>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!helpdesk.hasCheckIn">
                                <label for="modalJoinNickname">Nickname</label>
                                <input type="text" class="form-control" id="modalJoinNickname"
                                    formControlName="modalJoinNickname" name="modalJoinNickname"
                                    placeholder="Enter your nickname." (blur)="validateQueueNickname()" required>
                            </div>
                            <div class="form-group" *ngIf="!helpdesk.hasCheckIn">
                                <label for="modalJoinUnitId">Unit:</label>
                                <select (change)="populateTopics($event.target.value)" class="form-control"
                                    id="modalJoinUnitId" name="modalJoinUnitId" formControlName="modalJoinUnitId">
                                    <option value="">Select the unit you need help on.</option>
                                    <option *ngFor="let unit of units" value="{{unit.unitId}}">
                                        {{unit.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modalJoinTopicId">Topic:</label>
                                <select class="form-control" id="modalJoinTopicId" name="modalJoinTopicId"
                                    formControlName="modalJoinTopicId">
                                    <option value="">Select the topic you need help on.</option>
                                    <option *ngFor="let topic of topics" value="{{topic.topicId}}">
                                        {{topic.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modalJoinDescription">Description</label>
                                <input type="text" class="form-control" id="modalJoinDescription"
                                    formControlName="modalJoinDescription" name="modalJoinDescription"
                                    placeholder="Enter in a description." />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" (click)="closeJoinQueue()"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Join Queue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-edit-queue" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form [formGroup]="editQueueForm" (ngSubmit)="editQueue(editQueueForm.value)">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editQueueModalLabel">Edit Queue Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" readonly class="form-control" id="modalEditItemId"
                                name="modalEditItemId" formControlName="modalEditItemId" />
                            <div class="form-group">
                                <label for="modalJoinNickname">Nickname</label>
                                <input type="text" class="form-control" id="modalEditNickname"
                                    formControlName="modalEditNickname" name="modalEditNickname"
                                    placeholder="Enter in your nickname." readonly />
                            </div>
                            <div class="form-group" *ngIf="!helpdesk.hasCheckIn">
                                <label for="modalEditUnitId">Unit:</label>
                                <select (change)="populateTopics($event.target.value)" class="form-control"
                                    id="modalEditUnitId" name="modalEditUnitId" formControlName="modalEditUnitId">
                                    <option value="">Select the unit you need help on.</option>
                                    <option *ngFor="let unit of units" value="{{unit.unitId}}">
                                        {{unit.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group" *ngIf="showTopic">
                                <label for="modalEditTopicId">Topic:</label>
                                <select class="form-control" id="modalEditTopicId" name="modalEditTopicId"
                                    formControlName="modalEditTopicId">
                                    <option value="">Select the topic you need help on.</option>
                                    <option *ngFor="let topic of topics" value="{{topic.topicId}}">
                                        {{topic.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modalEditDescription">Description</label>
                                <input type="text" class="form-control" id="modalEditDescription"
                                    formControlName="modalEditDescription" name="modalEditDescription"
                                    placeholder="Enter in a description." />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" (click)="closeJoinQueue()"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="helpdesk.hasCheckIn" class="row">
        <!-- Check in Modal -->
        <div class="modal fade" id="modal-check-in" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form [formGroup]="checkInForm" (ngSubmit)="checkIn(checkInForm.value)">
                        <div class="modal-header">
                            <h5 class="modal-title" id="checkInModalLabel">Check In</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class="form-control" formControlName="modalStudentId"
                                id="modalStudentId" name="modalStudentId">
                            <div class="alert alert-info">Try scanning your card for your Student ID.</div>
                            <div class="form-group">
                                <label for="modalSID">Student ID</label>
                                <input type="text" class="form-control" formControlName="modalSID" id="modalSID"
                                    name="modalSID" placeholder="Enter your student." (blur)="validateNickname()"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="modalNickname">Nickname</label>
                                <input type="text" class="form-control" id="modalNickname"
                                    formControlName="modalNickname" name="modalNickname"
                                    placeholder="Enter your nickname." (blur)="validateNickname()" required>
                            </div>
                            <div class="form-group">
                                <label for="modalUnitId">Unit:</label>
                                <select class="form-control" id="modalUnitId" name="modalUnitId"
                                    formControlName="modalUnitId">
                                    <option value="">Select the unit you are studying.</option>
                                    <option *ngFor="let unit of units" value="{{unit.unitId}}">
                                        {{unit.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" (click)="closeCheckIn()"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Check In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Check out Modal -->
        <div class="modal fade" id="modal-check-out" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form [formGroup]="checkOutForm" (ngSubmit)="checkOut()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="checkOutModalLabel">Check Out</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="checkOutStudentId">User to Checked Out:</label>
                                <select class="form-control" id="checkOutStudentId" name="checkOutStudentId"
                                    formControlName="checkOutStudentId">
                                    <option value="">Select your nickname.</option>
                                    <option *ngFor="let checkIn of checkIns" value="{{checkIn.checkInId}}">
                                        {{checkIn.nickname}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" (click)="closeCheckOut()"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Check Out</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>