<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Swinburne Helpdesk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav" *ngIf="isAdminRoute">
          <li class="nav-item">
            <a class="nav-item btn btn-outline-primary" [routerLink]="[helpdeskLink]">Return to Helpdesk</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3" *ngIf="!isAdminRoute">
            <a class="nav-item btn btn-outline-primary" [routerLink]="[adminLink]">Admin</a>
          </li>
          <span class="navbar-text active">Current Helpdesk: </span>
          <li class="navbar__helpdesk-list nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              {{ dropdownLabel }}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item"
                *ngFor="let helpdesk of helpdeskData.getHelpdesks()"
                [routerLink]="[isAdminRoute ? helpdesk.adminRoute : helpdesk.route]">
                  {{ helpdesk.name }}
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
