<h2>Settings</h2>

<div class="row">
    <div class="col-md-4">
      <form (ngSubmit)="updateHelpdesk(editHelpdeskForm)" #editHelpdeskForm="ngForm">
        <!--      Helpdesk Name    -->
        <div class="form-group">
          <label for="settings-name">Helpdesk Name</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': !(name.valid || name.pristine)}"
                 id="settings-name" name="settings-name"
                 required maxlength="20" [(ngModel)]="helpdesk.name" #name="ngModel">
          <div class="invalid-feedback" [hidden]="name.valid || name.pristine">Helpdesk name is required</div>
        </div>

        <!--      Uses queue - checkbox   -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="settings-has-queue" id="settings-has-queue"
                 [(ngModel)]="helpdesk.hasQueue" [disabled]="helpdesk.isDisabled" #hasQueue="ngModel">
          <label class="form-check-label" for="settings-has-queue">
            Uses queue
          </label>
        </div>

        <!--      Uses check-in - checkbox    -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="settings-has-check-in" id="settings-has-check-in"
                 [(ngModel)]="helpdesk.hasCheckIn" [disabled]="helpdesk.isDisabled" #hasCheckIn="ngModel">
          <label class="form-check-label" for="settings-has-check-in">
            Uses check-in
          </label>
        </div>

        <!--      Disable helpdesk - checkbox    -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="settings-is-disabled" id="settings-is-disabled" [(ngModel)]="helpdesk.isDisabled" #isDisabled="ngModel">
          <label class="form-check-label" for="settings-is-disabled">
            Disable this helpdesk
          </label>
        </div>

        <!--      Checkbox validation message    -->
        <div class="invalid-feedback"
             *ngIf="!hasQueue.pristine || !hasCheckIn.pristine || !isDisabled.pristine"
             [ngClass]="{'d-block': (!helpdesk.isDisabled && !helpdesk.hasCheckIn && !helpdesk.hasQueue)}">
          Queue and/or Check-in must be checked if helpdesk is not disabled
        </div>

        <div class="mt-3">
          <button type="button" class="btn btn-secondary" (click)="ClearHelpdesk()">Clear Helpdesk Items</button>
          <button type="submit" class="btn btn-primary float-right">Save</button>
        </div>
      </form>
    </div>
</div>
