<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="admin-sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["users"]'>Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["nicknames"]'>Nicknames</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["reporting"]'>Reporting</a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Helpdesks</span>
          <button class="d-flex align-items-center text-muted icon-button-add" data-toggle="modal" data-target="#modal-helpdesk-add">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-plus-circle">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="16"></line>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg>
          </button>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item" *ngFor="let helpdesk of helpdesks">
            <a class="nav-link" [routerLink]='[helpdesk.helpdeskID]'>
              {{helpdesk.name}}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!-- Create helpdesk modal -->
<div class="modal fade" id="modal-helpdesk-add" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a new helpdesk</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="createHelpdesk(createHelpdeskForm)" #createHelpdeskForm="ngForm">
        <div class="modal-body">
<!--      Helpdesk Name    -->
          <div class="form-group">
            <label for="helpdesk-add-name">Helpdesk Name</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': !(createName.valid || createName.pristine)}"
                   id="helpdesk-add-name" name="helpdesk-add-name"
                   required maxlength="20" [(ngModel)]="createRequest.name" #createName="ngModel">
            <div class="invalid-feedback" [hidden]="createName.valid || createName.pristine">Helpdesk name is required</div>
          </div>

<!--      Uses queue - checkbox   -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="create-has-queue" id="create-has-queue"
                   [(ngModel)]="createRequest.hasQueue" [disabled]="createRequest.isDisabled" #hasQueue="ngModel">
            <label class="form-check-label" for="create-has-queue">
              Uses queue
            </label>
          </div>

<!--      Uses check-in - checkbox    -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="create-has-check-in" id="create-has-check-in"
                   [(ngModel)]="createRequest.hasCheckIn" [disabled]="createRequest.isDisabled" #hasCheckIn="ngModel">
            <label class="form-check-label" for="create-has-check-in">
              Uses check-in
            </label>
          </div>

<!--      Disable helpdesk - checkbox    -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="create-is-disabled" id="create-is-disabled" [(ngModel)]="createRequest.isDisabled" #isDisabled="ngModel">
            <label class="form-check-label" for="create-is-disabled">
              Disable this helpdesk
            </label>
          </div>

<!--      Checkbox validation message    -->
          <div class="invalid-feedback"
               *ngIf="!hasQueue.pristine || !hasCheckIn.pristine || !isDisabled.pristine"
               [ngClass]="{'d-block': (!createRequest.isDisabled && !createRequest.hasCheckIn && !createRequest.hasQueue)}">
            Queue and/or Check-in must be checked if helpdesk is not disabled
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="createHelpdeskForm.reset()">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
