
<ul class="nav nav-tabs mt-2 mb-3">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['configuration']" [routerLinkActive]="['active']">Configuration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['units']" [routerLinkActive]="['active']">Units</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['users']" [routerLinkActive]="['active']">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['nicknames']" [routerLinkActive]="['active']">Nicknames</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['reporting']" [routerLinkActive]="['active']">Reporting</a>
  </li>
</ul>

<router-outlet></router-outlet>
